In [2]:
import pandas as pd

dp = pd.read_csv('UFO_Sightings.csv')

print(dp['Shape'].head(10))
print(dp['Shape'].count())
print(dp['Shape'].nunique())
unique_shapes = dp['Shape'].unique()
print(unique_shapes)

0      Sphere
1     Unknown
2      Sphere
3      Circle
4      Circle
5       Light
6       Light
7      Circle
8    Cylinder
9     Chevron
Name: Shape, dtype: object
5177
21
['Sphere' 'Unknown' 'Circle' 'Light' 'Cylinder' 'Chevron' 'Triangle'
 'Formation' 'Other' 'Fireball' 'Oval' 'Egg' 'Flash' 'Disk' 'Changing'
 'Cigar' 'Rectangle' 'Cone' 'Diamond' 'Cross' 'Teardrop']

In [17]:
specific_shape = 'Triangle'
count_specific_shape = (dp['Shape'] == specific_shape).sum()
print(count_specific_shape)

498

In [15]:
shape_counts = dp['Shape'].value_counts().reset_index()
shape_counts.columns = ['Shape', 'Count']
print(shape_counts)

        Shape  Count
0       Light   1118
1      Circle    678
2    Triangle    498
3     Unknown    431
4    Fireball    430
5       Other    333
6      Sphere    313
7        Disk    210
8   Formation    199
9        Oval    191
10      Flash    128
11   Changing    120
12  Rectangle    102
13      Cigar     97
14   Cylinder     72
15    Chevron     68
16    Diamond     64
17   Teardrop     50
18        Egg     31
19      Cross     23
20       Cone     21

In [19]:
average_coordinates = dp.groupby('Shape')[['lat', 'lng']].mean().reset_index()
print(average_coordinates)

        Shape        lat        lng
0    Changing  38.682861 -96.514773
1     Chevron  39.328164 -98.784420
2       Cigar  38.279232 -92.908655
3      Circle  38.242813 -93.174047
4        Cone  37.426449 -94.702623
5       Cross  39.206601 -90.236531
6    Cylinder  38.551225 -95.015693
7     Diamond  38.108047 -90.972573
8        Disk  39.216290 -96.159559
9         Egg  38.617485 -96.428581
10   Fireball  38.094352 -96.624273
11      Flash  39.350234 -96.618357
12  Formation  38.973965 -96.580639
13      Light  38.669644 -95.152154
14      Other  38.264960 -95.025618
15       Oval  38.461381 -94.758944
16  Rectangle  38.014438 -95.554302
17     Sphere  38.708514 -92.720022
18   Teardrop  38.353757 -96.701204
19   Triangle  38.837474 -94.032876
20    Unknown  38.902456 -95.533528

In [20]:
mode_lat = dp['lat'].mode().values[0]
mode_lon = dp['lng'].mode().values[0]

print(mode_lat, mode_lon)

33.4485866 -112.0773455

In [3]:
most_common_state = dp['State'].mode().values[0]
Number_times_statementioned = dp['State'].value_counts().reset_index()

print(most_common_state)
Number_times_statementioned.head(10)

CA

  State  count
0    CA    546
1    FL    338
2    AZ    220
3    WA    215
4    NC    211
5    NY    203
6    CO    192
7    PA    189
8    OR    157
9    IL    142